body, div {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #ccc;
}
#app {
  height: 100vh;
}

input, img {
  outline-style: none;
  vertical-align: bottom;
}